/*
Page layout for index.html
Author: NaDari Cole
Date:12/30/2025
Code Type: css
Filename: index_layout.css
*/
charset "utf-8";
{
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}
.wrapper {
  width: 1170px;
  margin: auto;
}

body {
  background: 
    hsl(44, 100%, 98%);
  background-size: cover;
  background-position: center center;
  height: 100vh;
  position: relative;
}

/* Navagation */
.nav-area {
  float: right;
  list-style: none;
  margin-top: 20px;
  padding-right: 10px;
}
.nav-area li{
    display: inline-block;
}

.nav-area li a{
  color: #fff;
  text-decoration: none;
  padding: 5px 20px;
  font-size: 14px;
}

.nav-area li a:hover{
  background: #fff;
  color: #333;
}

/* Logo */
.logo img{
  width: 150px;
  float: left;
  padding-left: 20%;
  padding-top: 2%;
}

/* Page welcome text */
.welcome-text{
  position: absolute;
  margin: 20% 30%;
  text-align: center;
}

.welcome-text h1{
  tet-align: center;
  color: #fff;
  text-translation: uppercase;
  font-size: 80px;

}
