/*
Page layout for index.html
Author: NaDari Cole
Date:12/30/2025
Code Type: css
Filename: index_layout.css
*/
charset "utf-8";
{
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}
.wrapper {
  width: 1170px;
  margin: auto;
}

body {
  background-color: linear-gradient(rgba(0,0,0,0.7,rgba(0,0,0,0.7)),hsl(44, 100, 98);
  height: 100vh;
  background-size: cover;
  background-position: center center;
  position: relative;
}
