/*
Page layout for index.html
Author: NaDari Cole
Date:12/30/2025
Code Type: css
Filename: index_layout.css
*/
charset "utf-8";
{
  margin: 0;
  padding: 0;
}
.nunito-<uniquifier> {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
